@import '../../styles/base.scss';

.showcase {
	section {
		padding: 64px;
		h1 {
			font-family: $title-font;
			font-size: 3rem;
			text-transform: uppercase;
			line-height: 100%;
			padding-bottom: 40px;
		}
		h2 {
			font-family: $heading-font;
			font-size: 3rem;
			text-transform: uppercase;
			line-height: 100%;
		}
		p {
			font-family: $p-font;
			line-height: 160%;
			padding-bottom: 40px;
		}
		.dcomp-thumbnail-list-thumbnail {
			padding-top: 0;
			padding-bottom: 0;

			.dcomp-thumbnail-list-image-caption {
				display: block;
				text-align: left;
				font-family: $heading-font;
				padding: 20px 0 32px;
			}
		}
	}
}
